@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif; 
}

body {
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--main-color);
}


.boxx {
    position: absolute;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    margin-top: 350px;
    margin-left: 75%;
}
@keyframes animate {
    0%{
        transform: perspective(1000px) rotateX(0deg) rotateY(35deg);
    }
    100% {
        transform: perspective(1000px) rotateX(360deg) rotateY(35deg);
}
}
.boxx span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(calc(var(--i)* 45deg)) translateZ(300px);
}

.boxx span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root {
    --bg-color:rgb(29,48,78);
    --first-color:rgb(229,242,209);
    --but-color: rgb(229,242,209);
    --second-bg-color:rgb(29,48,78);
    --text-color:rgb(0, 0, 0);
    --main-color: rgb(229,242,209);
    --home-color: rgb(29, 7, 7);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--bg-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--bg-color);
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--home-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    padding: 10rem 9% 2rem;
}

.home{
    align-items: center;
    padding: 0 9%;
}

.home-content{
    max-width: 60rem;
    line-height: 1.2;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: var(--second-bg-color);
    border: .2rem solid var(--first-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
}

.btn-box .btn:nth-child(1) {
    background: transparent;
    color: var(--but-color);
}

.btn-box .btn:nth-child(1)::before {
    background: var(--first-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--but-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--first-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transform: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    margin-top: 50px;
    bottom: 4rem;
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color)
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.btn-box.btns  {
    display: inline-block;
    width:  15rem ;
}

.btn-box.btns a::before {
    background: var(--first-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.p {
    width: 100px;
}

.about-content h3 {
    font-size: 20px;
    line-height: 70px;
}


.about-content p {
    font-size: 20px;
}


.auto{
    display: inline-block;
    width: 500px;
}
.auto div{
    background: var(--bg-color);  
    overflow: hidden;  
}
.auto div img{
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;  
    width: 100%;
    height: auto;
    display: block;
    margin-left: 50px;
    border-radius: 40px 40px;
    
}
.auto:hover div img{
    opacity: 0.5; 
    transform: scale(1.05); 
}
.auto + .auto div{
    background: var(--bg-color); 
}

.auto2{
    display: inline-block;
    width: 500px;
}
.auto2 div{
    background: var(--bg-color);  
    overflow: hidden;  
}
.auto2 div img{
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;  
    width: 100%;
    height: auto;
    display: block;
    margin-left: 50px;
    border-radius: 40px 40px;
    
}
.auto2:hover div img{
    opacity: 0.5; 
    transform: scale(1.05); 
}
.auto2 + .auto div{
    background: var(--bg-color); 
}

.auto3{
    display: inline-block;
    width: 500px;
}
.auto3 div{
    background: var(--bg-color);  
    overflow: hidden;  
}
.auto3 div img{
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;  
    width: 100%;
    height: auto;
    display: block;
    margin-left: 50px;
    border-radius: 40px 40px;
    
}
.auto3:hover div img{
    opacity: 0.5; 
    transform: scale(1.05); 
}
.auto3 + .auto div{
    background: var(--bg-color); 
}

.auto4{
    display: inline-block;
    width: 500px;
}
.auto4 div{
    background: var(--bg-color);  
    overflow: hidden;  
}
.auto4 div img{
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;  
    width: 100%;
    height: auto;
    display: block;
    margin-left: 50px;
    border-radius: 40px 40px;
    
}
.auto4:hover div img{
    opacity: 0.5; 
    transform: scale(1.05); 
}
.auto4 + .auto div{
    background: var(--bg-color); 
}